<!DOCTYPE html>

<html>

<head>
    <title>Coronavirus Tracker Application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
</head>

<body class="p-3 mb-2 bg-secondary text-white">
<div class ="container">

<h1> Coronavirus Tracker Application</h1>
<p> This Web Application display the current numbers of coronavirus cases reported across the global</p>

<div class ="jumbotron">

    <div class="bg-info p-2 text-dark bg-opacity-10">
    <h1 class ="display-4" data-th-text="${totalReportedCases}"></h1>
    <p class="lead"> Total cases reported as of today</p>
      <hr class="my-4">
        <p>
            <span>New cases reported since previous day</span>
            <span data-th-text="${totalNewCases}"> totalNewCases</span>
        </p>
</div>
</div>


    <table class="table table-hover">
        <tr class="table-primary">
            <th>State</th>
            <th>Country</th>
            <th>Total cases reported</th>
            <th>Changes since last day</th>
        </tr>
        <tr th:each="locationStat: ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
        </tr>
    </table>
</div>

</body>

</html>